@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Roboto:wght@100;300;500;600;700&display=swap");

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgb(255, 220, 111);
  --c2: rgb(100, 100, 100);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}

.bg-mobile {
  display: none;
  @media (max-width: 556px) {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.8);
  }
}

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -1;
  @media (max-width: 556px) {
    display: none;
  }
}

.content-cover {
  width: 100%;
  max-width: 1190px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.logo-cover {
  width: 100%;
  max-width: 200px;
  text-align: left;
  padding: 10px 0;
  display: none;
}

.logo-cover img {
  width: 100%;
}

.top-headline {
  width: 100%;
  max-width: 1000px;
  padding: 10px 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.top-headline h1 {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  margin: 12px 15px;
}

.font-bold {
  font-weight: 700;
}

.highlited-date {
  border-radius: 3px;
  border: 1px solid #29344b;
  background: #10192c;
  color: #e5a018;
  font-size: 11px;
  font-weight: 500;
  padding: 3px 10px;
  margin: 0 9px;
  /*display: none;*/
}
.highlited-date-mobile {
  display: none;
  text-align: center;
  margin: 10px auto 10px 0;
  width: 20%;
  min-width: 100px;
}
.table-header-cover {
  position: relative;
  margin: 30px auto;
  height: 24px;
}

.table-header-back {
  width: 100%;
  border-radius: 3px;
  background: #242350;
  height: 24px;
  filter: blur(2px);
  position: absolute;
  z-index: 1;
}

.table-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 40px 5px 60px;
  position: absolute;
  z-index: 2;
  background-color: transparent;
}

.table-header h5:first-child {
  width: 10%;
}

.table-header h5 {
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
}

.offers-cover-desktop {
  width: 100%;
}

.offer-cover {
  width: 93%;
  height: 110px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 1px solid transparent;
  position: relative;
  background-color: #061428;
}

.label {
  position: absolute;
  top: -15px;
  left: -17px;
}

.label-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px 20px;
  border-color: transparent transparent transparent #fdcf6f;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 158px;
}

.label-center {
  display: block;
  position: absolute;
  width: 164px;
  height: 28px;
  background-color: #fdcf6f;
  border-top-right-radius: 8px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 11px;
  font-weight: 600;
  line-height: 12px;
  padding: 0 3px;
  text-transform: uppercase;
  position: absolute;
  z-index: 5;
}

.label-bottom {
  display: block;
  position: absolute;
  z-index: 1;
  top: 28px;
  width: 16px;
  height: 6px;
  background-color: #e09707;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
}

.order-count {
  position: absolute;
  left: -3.5%;
  z-index: 5;
  color: #9b9393;
  font-size: 40px;
  font-weight: 700;
}

.offer-logo {
  max-width: 235px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 100%;
  background: linear-gradient(106deg, #0f213c 20.75%, #171e33 92.41%);
}

.offer-logo img {
  width: 100%;
  width: 150px;
}

.offer-message {
  width: 170px;
  margin-bottom: 10px;
  text-align: center;
}

.offer-message .welcome-1 {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  line-height: 28px;
}

.offer-message .welcome-2 {
  color: #fff;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.offer-message .welcome-3 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.offer-payment {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.bitcoin,
.apple {
  position: relative;
  left: 3px;
}

.offers-cover-desktop .offer-payment {
  max-width: 200px;
}

.offers-cover-desktop .offer-payment img {
  width: 30px !important;
  height: 20px !important;
  object-fit: contain;
}

.show-more-btn {
  text-align: center;
  width: 100%;
}

.show-more-btn button {
  font-size: 12px;
  width: 25px;
  font-weight: 500;
  line-height: 15px;
  color: #c88c16;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.score,
.votes {
  color: #606785;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 5px;
}

.votes {
  display: none;
}

.score span {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.votes span {
  color: #fff;
  font-size: 15px;
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "★★★★★";
  color: #d3d3d3;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "★★★★★";
  color: #ffcb0f;
  overflow: hidden;
}

.star-100:after {
  width: 100%;
}

.star-90:after {
  width: 90%;
}

.star-80:after {
  width: 80%;
}

.star-70:after {
  width: 70%;
}

.star-50:after {
  width: 50%;
}

.offer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offers-cover-desktop .offer-buttons {
  min-width: 230px;
}

.offer-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
}

.offer-buttons .get-bonus {
  color: rgb(240, 233, 233);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 156px;
  height: 46px;
  border-radius: 15px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 139, 13);
  border-radius: 7px;
  margin-bottom: 10px;
  transition: all 0.2s linear;
  margin-right: auto;
  margin-left: auto;
}

.offers-cover-desktop .offer-buttons .get-bonus {
  margin-bottom: 10px;
  margin-top: 10px;
}

.offer-buttons .get-bonus:hover {
  background-color: rgb(13, 139, 13);
}

.offer-buttons .visit-site {
  color: #f0b954;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  display: none;
}

.offer-buttons .visit-site:hover {
  text-decoration-line: underline;
}

.offer-bottom {
  width: 99%;
  margin: 0 auto 22px;
}

.offer-bottom .terms {
  color: #656a82;
  text-align: left;
  font-size: 9px;
  font-weight: 300;
  line-height: 12px;
  width: 92%;
  margin: 5px auto;
}

.offer-bottom-border {
  position: relative;
  width: 100%;
}

.line-bottom {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #393e54;
}

.left-dot {
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  background-color: #393e54;
  position: absolute;
  left: 0;
  top: -2px;
}

.right-dot {
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  background-color: #393e54;
  position: absolute;
  right: 0;
  top: -2px;
}

.faq {
  width: 100%;
  max-width: 1142px;
  margin: 15px auto 0;
  border-radius: 5px;
  border: 1px solid #292e42;
  background: #040e1d;
  padding: 30px 30px 0;
}

.faq h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  margin: 35px 0;
  text-align: center;
}

.faq h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 20px 0;
  text-align: left;
}

.faq p {
  color: #82869c;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 70px;
}

.about {
  width: 100%;
  max-width: 1142px;
  margin: 0 auto;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
}

.about-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.about-item .about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.about-item article {
  width: 80%;
}

.about-item h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin: 20px 0;
}

.about-item p {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.play-safe {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px 60px;
  box-sizing: border-box;
}

.play-safe h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin: 60px 0;
}

.gambl-logos {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.gambl-logos_sm {
  max-height: 40px;
}

.gambl-logos_lg {
  max-height: 95px;
}

.footer {
  padding: 45px 30px 70px;
  text-align: center;
}

.footer p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.offers-cover-mobile {
  display: none;
  justify-content: space-between;
  flex-direction: column;
}

.offers-cover-mobile .offer-cover {
  height: auto;
  background-color: #061428;
  border: 1px solid rgb(187, 187, 187, 0.25);
}

.offers-cover-mobile .left-side,
.offers-cover-mobile .right-side {
  width: 50%;
  margin: 0;
  min-height: 194px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.left-side {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  background: linear-gradient(104deg, #0f213c 8.07%, #171e34 92.32%);
  height: 100%;
}

.vulkan {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.xon {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.slotty {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.blick {
  position: relative;
  right: 4px;
}

.right-side {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  height: 100%;
}

.left-side img {
  width: 100%;
  max-width: 150px;
}

.offers-cover-mobile .stars-container {
  margin: 5px 0;
  font-size: 26px;
}

.offers-cover-mobile .offer-payment {
  max-width: 180px;
  margin-top: 10px;
  justify-content: flex-start;
}

.offers-cover-mobile .offer-payment img {
  width: 30px;
}

.offers-cover-mobile .show-more-btn {
  text-align: center;
  width: auto;
}

.offers-cover-mobile .offer-buttons {
  margin-top: 20px;
}

.offers-cover-mobile .offer-buttons .get-bonus,
.offers-cover-mobile .offer-buttons .visit-site {
  margin-right: 0;
  width: 100%;
  text-align: center;
  height: 44px;
}

.offers-cover-mobile .offer-buttons .get-bonus {
  width: 220px;
  height: 55px;
  border-radius: 15px;
}

.offers-cover-mobile .right-side {
  justify-content: center;
}

.offers-cover-mobile .offer-bottom {
  margin: 0;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.popup-underlay {
  background: rgba(6, 12, 31, 0.66);
  backdrop-filter: blur(4.5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.popup-body {
  width: 100%;
  max-width: 410px;
  border-radius: 7px;
  border: 1px solid #ffe5ae;
  background: linear-gradient(106deg, #101f33 20.75%, #151b2c 92.41%);
  box-shadow: 0px 5px 33px 0px rgba(240, 185, 84, 0.34);
  position: relative;
  z-index: 2;
}

.close-popup-btn {
  transform: rotate(45deg);
  font-size: 60px;
  line-height: 30px;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  right: -50px;
  top: -40px;
}

.popup-logo-cover {
  border-radius: 7px 7px 0px 0px;
  border: 1px solid #ffe5ae;
  background: linear-gradient(106deg, #0f213c 20.75%, #171e33 92.41%);
  min-height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-logo-cover img {
  width: 250px;
}

.popup .offer-buttons .get-bonus {
  margin: 10px 0 30px;
}

.popup .offer-message {
  max-width: 280px;
  margin: 20px 0 10px;
}

.popup-button-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

.offers-cover-desktop .offer-cover:first-child,
.offers-cover-mobile .offer-cover:first-child {
  border: 0.15rem, solid;
  border-radius: 3px;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    3;
  animation: borderRotate var(--d) linear infinite forwards;
}

.offers-cover-desktop .offer-cover:nth-child(3),
.offers-cover-mobile .offer-cover:nth-child(3) {
  border: 0.15rem, solid;
  border-image: radial-gradient(
      ellipse at var(--gradX) var(--gradY),
      rgb(187, 203, 225),
      rgb(187, 203, 225) 10%,
      rgb(100, 100, 100) 40%
    )
    3;
  animation: borderRadial var(--d) linear infinite forwards;
  -webkit-animation: borderRadial var(--d) linear infinite forwards;
}

.offers-cover-desktop .offer-cover:nth-child(5),
.offers-cover-mobile .offer-cover:nth-child(5) {
  border: 0.15rem, solid;
  border-image: conic-gradient(
      from var(--angle),
      rgb(100, 100, 100),
      rgb(173, 140, 79) 0.1turn,
      rgb(255, 220, 111) 0.15turn,
      rgb(100, 100, 100) 0.25turn
    )
    3;
  animation: borderRotate var(--d) linear infinite forwards;
}

.offer-cover:nth-child(3) .label-center {
  background-color: #bbcbe1;
}

.offer-cover:nth-child(3) .label-right {
  border-color: transparent transparent transparent #bbcbe1;
}

.offer-cover:nth-child(3) .label-bottom {
  background-color: #6f7e98;
}

.offer-cover:nth-child(5) .label-center {
  background-color: #ad8c4f;
}

.offer-cover:nth-child(5) .label-right {
  border-color: transparent transparent transparent #ad8c4f;
}

.offer-cover:nth-child(5) .label-bottom {
  background-color: #7a6132;
}

@media screen and (max-width: 900px) {
  .offer-logo {
    max-width: 180px;
  }

  .offer-payment img {
    margin: 0 3px 1px 0;
    width: 24px;
    height: 12px;
  }

  .faq {
    padding: 10px 30px 0;
  }

  .faq h1 {
    font-size: 22px;
    margin: 25px 0;
  }

  .faq h2 {
    font-size: 18px;
  }

  .faq p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .about {
    padding: 30px 20px;
  }

  .about-item .about-image {
    width: 15%;
    padding: 10px;
  }

  .about-item .about-image img {
    width: 80%;
  }

  .about-item h2 {
    font-size: 18px;
    margin: 15px 0;
  }

  .about-item p {
    font-size: 14px;
    line-height: 17px;
  }

  .play-safe h1 {
    font-size: 24px;
    margin: 40px 0;
  }

  .gambl-logos {
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .gambl-logos_lg {
    margin-right: 5px;
    margin-bottom: 20px;
    max-height: 80px;
  }

  .footer {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 840px) {
  .header-flags {
    width: 65px;
    height: 55px;
  }

  .top-headline {
    margin: 0 auto;
  }

  .top-headline h1 {
    font-size: 25px;
  }

  .logo-cover {
    max-width: 160px;
  }

  .table {
    display: none;
  }

  .offers-cover-desktop {
    display: none;
  }

  .offers-cover-mobile {
    display: flex;
  }

  .offers-cover-mobile .offer-buttons {
    margin-top: 5px;
  }

  .offers-cover-mobile .visit-site {
    display: none;
  }
  .offers-cover-mobile .offer-payment {
    max-width: 300px;
    margin-top: 0;
  }
  .offers-cover-mobile .left-side img {
    width: 100%;
    max-width: 200px;
  }
  .offers-cover-mobile .stars-container {
    margin: 5px 0;
    font-size: 26px;
  }
  .offers-cover-mobile .left-side a {
    display: flex;
    max-width: 165px;
    width: 100%;
    min-height: 100px;
    justify-content: center;
    align-items: center;
  }
  .offer-message {
    margin-bottom: 5px;
  }
  .offer-buttons .get-bonus {
    margin-bottom: 5px;
    height: 55px;
  }
  .offers-cover-mobile .left-side {
    min-height: 214px;
  }
}
@media screen and (max-width: 770px) {
  .highlited-date-mobile {
    display: block;
  }
  .highlited-date-desc,
  .sub-header li:last-child {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .offers-cover-mobile .offer-buttons .get-bonus {
    width: 180px;
    height: 52px;
  }

  .header-flags {
    width: 54px;
  }

  .content-cover {
    padding: 0 10px;
  }

  .top-headline {
    padding: 0 10px;
  }

  .top-headline h1 {
    font-size: 20px;
    margin: 12px 15px;
  }

  .logo-cover {
    max-width: 130px;
  }

  .header-disclamer {
    font-size: 8px;
    padding: 6px 10px 3px;
  }

  .sub-headline {
    display: none;
  }

  .icon-update {
    display: none;
  }

  .sub-header {
    padding: 0 5px;
    margin: 5px auto 10px;
  }

  .sub-header li {
    font-size: 10px;
  }
  .sub-header li img {
    margin-right: 5px;
  }
  /*.sub-header p::before {*/
  /*  left: -3px;*/
  /*}*/

  .close-popup-btn {
    right: -7px;
  }

  .score,
  .votes {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .highlited-date-mobile {
    margin: 2px auto 1px 0;
  }

  .sub-header {
    margin: 0 auto 5px;
    /*flex-flow: wrap;*/
    /*justify-content: space-around;*/
  }
  .sub-header li {
    font-size: 8px;
  }

  .offers-cover-mobile .stars-container {
    margin: 0;
    font-size: 18px;
  }

  .offers-cover-mobile .offer-payment {
    margin-top: 5px;
    margin-right: 0;
  }

  .offer-message .welcome-2 {
    font-size: 14px;
  }

  .offers-cover-mobile .offer-buttons .get-bonus {
    width: 100%;
    min-width: 130px;
    height: 44px;
    font-size: 14px;
  }

  .score,
  .votes {
    font-size: 12px;
  }

  .score span {
    font-size: 18px;
  }

  .offers-cover-mobile .left-side {
    justify-content: space-around;
    min-height: 194px;
  }

  .votes span {
    font-size: 14px;
  }

  .offer-bottom .terms {
    margin: 5px auto 0;
    width: 97%;
    font-size: 8px;
  }

  .offer-buttons .visit-site {
    line-height: 18px;
  }

  .offer-message .welcome-3 {
    font-size: 14px;
  }

  .top-headline h1 {
    margin: 7px 5px 10px;
  }

  .sub-headline {
    font-size: 9px;
    padding: 0 2px 3px;
  }

  .faq h1 {
    font-size: 19px;
    margin: 20px 0 15px;
    text-align: left;
  }

  .faq {
    padding: 10px 20px 0;
  }

  .faq h2 {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
  }

  .faq p {
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
  }

  .about-item h2 {
    font-size: 16px;
  }

  .about-item {
    flex-direction: column;
  }

  .about-item .about-image {
    width: 100%;
    padding: 10px 10px 0;
  }

  .about-item .about-image img {
    width: 20%;
  }

  .about-item article {
    width: 100%;
    text-align: justify;
  }

  .about-item p {
    font-size: 12px;
    line-height: 17px;
  }

  .play-safe h1 {
    font-size: 20px;
    margin: 30px 0 40px;
  }

  .play-safe {
    padding: 0 10px 30px;
  }

  .footer p {
    font-size: 12px;
  }

  .footer {
    padding: 30px 10px;
  }

  .about {
    padding: 20px 10px 0;
  }

  .offers-cover-mobile .offer-payment img {
    width: 26px;
    margin: 0 2px 1px 0;
    height: 23px;
    object-fit: contain;
  }

  .offers-cover-mobile .left-side,
  .offers-cover-mobile .right-side {
    padding: 10px 15px 5px;
  }
}

@media screen and (max-width: 380px) {
  .offers-cover-mobile .left-side,
  .offers-cover-mobile .right-side {
    padding: 10px 5px 5px;
  }
}
